<!DOCTYPE html>
<html>
  <head>
    <title>Furima46257</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %> 
    <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
    <%#= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/header" %>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'card' %>
    <%= render "shared/footer" %>
  </body>
</html>
